<div class="jumbotron writing no-padding">
  <div class="container">
  </div>
</div>

<div class="row">
  <div class="well col-sm-8 col-md-offset-2">

    <h2>Question #<%= @exam.questions.length + 1 %></h2>

    <%= form_for([@exam, @question]) do |f| %>
      <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% unless @exam.long_answer? %>
        <hr>
        <b>Question category</b>
        <div class="form-group col-md-12 col-md-offset-1">
          <% @exam.categories.each do |category| %>
            <div class="radio">
              <%= radio_button_tag(:category, category.name) %>
              <%= label_tag(category.id_name_with_underscores, category.name) %>
            </div>
          <% end %>
          <div class="radio">
            <%= radio_button_tag(:category, "") %>
            <%= label_tag(:category_, "Add new category") %>
          </div>
        </div>
        <div class="form-group" id="new-category">
          <%= label_tag :new_category, "New category" %>
          <%= text_field_tag :new_category, "", autofocus: true, class: "form-control new-category" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :text, "Question text" %><br>
        <%= f.text_field :text, autofocus: true, class: "form-control" %>
      </div>

      <% if @exam.includes_multiple_choice? %>
        <hr>
        <div id="answers">

          <%= f.fields_for :answers do |answer| %>
            <%= render 'answer_fields', f: answer %>
          <% end %>

          <div class="links break">
            <%= link_to_add_association "Add answer", f, :answers %>
          </div>

        </div>
      <% end %>

      <hr>

      <div class="actions">
        <%= f.submit "Next question", class: "btn btn-lg btn-success col-xs-5 no-left-padding" %>
        <%= f.submit "Finalize test", data: { confirm: "Are you sure? This will finish adding questions to your test." }, class: "btn btn-lg btn-primary col-xs-5 pull-right no-right-padding" %> 
      </div>
    <% end %>
  </div>
</div>
