<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "rock.jpg", class: "first-slide" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>First Epic Slide</h1>
          <p>Here is a description of how awesome you'll be if you take one of our tests. People will think you are smart and stuff.</p>
          <p><%= link_to "Learn More", "#", class: "btn btn-lg btn-primary" %></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "stars.jpg", class: "second-slide" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Another Epic Slide</h1>
          <p>Here is a description about why you should purchase your own testing subdomain from us and make money and stuff.</p>
          <p><%= link_to "Buy Stuff", "#", class: "btn btn-lg btn-primary" %></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "waterfall.jpg", class: "third-slide" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Final Epic Slide</h1>
          <p>Make your friends or family or employees take this test and keep the results for yourself.</p>
          <p><%= link_to "Quiz People", "#", class: "btn btn-lg btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container marketing">


  <!-- START THE FEATURETTES -->


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Hey, look! <span class="text-muted">A stretched mountain picture.</span></h2>
      <p class="lead">Yes, we managed to take a relatively nice landscape picture and squeeze it and stretch it to fit awkwardly in the square to the right. I also used an awkward number of 'and's in that previous sentence. Speaking of topics, if you take a fun quiz or personality test on this site, you'll be famous...in our database. Just think - some server out there will know your name.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "rock.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Stars are nice. <span class="text-muted">Just like taking tests..</span></h2>
      <p class="lead">Twinkle, twinkle, giant burning ball of gas. And your billions of friends. Stars are nice - as long as you aren't too close to them. If you ARE too close to them, like on Mercury, or in Houston, it can get quite uncomfortable. But don't worry. Mainly because worrying won't change your position relative to any given star.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "stars.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Waterfalls are epic. <span class="text-muted">Answering questions is kind of like that, too.</span></h2>
      <p class="lead">This picture looks far better than its counterpart in the slides at the top of the page. In THIS case, the slide is stretched, while this square picture is correct. How much money would it take to convince you to paddle a canoe over that fall? Whatever amount it is, I hope it's in a life insurance policy, because you aren't going to survive that. Unless the picture is actual size, in which case your main challenge would be fitting in a canoe small enough.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "waterfall.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">
