<div class="row" >
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for([@exam, @category_report]) do |f| %>
      <% if @category_report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category_report.errors.count, "error") %> prohibited this category_report from being saved:</h2>

          <ul>
          <% @category_report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :value_min, "Minimum value" %>
        <%= f.number_field :value_min %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
