<div class="row" >
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for([@exam, @category, @category_report]) do |f| %>
      <% if @category_report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category_report.errors.count, "error") %> prohibited this category_report from being saved:</h2>

          <ul>
          <% @category_report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <strong>Minimum value for this report: <%= @value_min %></strong>
        <%= f.hidden_field(:value_min, value: @value_min) %>
      </div>

      <div class="form-group">
        <%= f.label :value_max, "Maximum value for this report: " %>
        <%= f.number_field :value_max, autofocus: true, min: @value_min, max: @value_max, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :text, "Report for this range of values:" %>
        <%= f.text_area :text, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Next", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
