<%= provide(:title, "Edit - #{@category.name} Reports") %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <h1>Category reports for <%= @category.name %></h1>
    <h4></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-xs-3">Min Value</th>
          <th class="col-xs-3">Max Value</th>
          <th class="col-xs-6">Text</th>
        </tr>
      </thead>
      <tbody>
        <% @category_reports.each do |report| %>
          <tr>
            <td><%= report.value_min %></td>
            <td><%= report.value_max %></td>
            <td><%= link_to truncate(report.text), edit_exam_category_category_report_path(@category.exam, @category, report) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
