<div class="jumbotron writing no-padding">
  <div class="container">
  </div>
</div>

<div class="row">
  <div class="well col-sm-8 col-md-offset-2">

    <h2>Create Test</h2>

    <%= form_for(@exam) do |f| %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :exam_type, "Type of test" %><br>
        <%= f.select :exam_type, options_for_select([["Multiple choice", "multiple_choice"], ["Long answer", "long_answer"], ["Mix of both", "mixed"]], "multiple_choice"), {}, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Next", class: "btn btn-success btn-lg col-xs-12" %>
      </div>
    <% end %>

  </div>
</div>
