<%= provide(:title, @exam.name) %>

<div class="jumbotron writing no-padding">
  <div class="container">
  </div>
</div>

<div class="row">
  <div class="well col-sm-8 col-md-offset-2">
    <p id="notice"><%= notice %></p>

    <table class="table table-striped">
      <thead>
        <tr>
          From: <%= @exam.account.name %>
        </tr>
        <tr>
          <th class="col-sm-12">
            <%= @exam.name %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= @exam.description %>
        </tr>
      </tbody>
    </table>

  </div>
</div>
