<%= provide(:title, @exam.name) %>

<div class="jumbotron writing no-padding">
  <div class="container">
  </div>
</div>

<div class="row">
  <div class="well col-sm-8 col-md-offset-2">
    <p id="notice"><%= notice %></p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-8">
            From: <%= @exam.account.name %>
          </th>
          <th class="col-sm-4"></th>
        </tr>
        <tr>
          <th class="col-sm-9">
            <span class="exam-name"><%= @exam.name %></span>
          </th>
          <th class="col-sm-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @exam.description %>
          </td>
        </tr>
        <tr>
          <td>Number of questions: <%= @exam.questions.count %></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to 'Take this test', begin_exam_path(@exam), class: "btn btn-lg btn-primary" %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
